/* Custom admin icon
------------------------------------------------------------ */

#icon-edit.icon32-posts-soliloquy,
#icon-soliloquy {
	background: url(images/title-icon.png) no-repeat scroll 0 50%;
	height: 36px;
	width: 36px;
}


/* Admin customizations for better contextual use
------------------------------------------------------------ */

#soliloquy-dismiss-notice {
	float: right;
	font-weight: normal;
}

#minor-publishing-actions,
#edit-slug-box {
	display: none !important;
}

.form-table th {
	vertical-align: middle;
}


/* Image list styling
------------------------------------------------------------ */

#soliloquy-images {
	overflow: hidden;
	padding: 8px;
}

.soliloquy-image {
	-moz-border-radius: 3px;
	-moz-box-shadow: 0 0 1px rgba(0, 0, 0, .1);
	-webkit-border-radius: 3px;
	-webkit-box-shadow: 0 0 1px rgba(0, 0, 0, .1);
	background: #f5f5f5;
	border: 1px solid #d1d1d1;
	border-radius: 3px;
	box-shadow: 0 0 1px rgba(0, 0, 0, .1);
	cursor: move;
	float: left;
	margin: 0 15px 15px 0;
	padding: 4px;
	position: relative;
}

.soliloquy-image img {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background: #fff;
	border-radius: 3px;
	display: block;
	padding: 4px;
}

.soliloquy-image .remove-image {
	background: url(images/delete.png) no-repeat scroll 0 0;
	display: block;
	height: 16px;
	left: -8px;
	outline: none;
	position: absolute;
	top: -8px;
	width: 16px;
}

.soliloquy-image .modify-image {
	background: url(images/modify.png) no-repeat scroll 0 0;
	display: block;
	height: 16px;
	left: 12px;
	outline: none;
	position: absolute;
	top: -9px;
	width: 16px;
}


/* Image meta styling
------------------------------------------------------------ */

.soliloquy-meta-wrap {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.soliloquy-meta-wrap h2 {
	color: #464646;
	font-family: 'Helvetica Neue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 23px;
	font-weight: 300;
	line-height: 29px;
	margin: .5em 0;
	padding: 0;
}

.soliloquy-meta-wrap p {
	padding-top: 0 !important;
}

.soliloquy-meta-wrap .form-table {
	margin-bottom: 15px;
}

.soliloquy-meta-wrap th {
	vertical-align: middle;
}

.soliloquy-meta-wrap tr {
	border-bottom: 1px solid #eaeaea;
	border-top: 1px solid #eaeaea;
}

.soliloquy-meta-wrap tr:nth-child(odd) {
	background: #f5f5f5;
}

.soliloquy-meta-wrap textarea {
	display: block;
}

.soliloquy-meta-wrap .soliloquy-meta-submit {
	color: #464646 !important;
}

.soliloquy-meta-wrap .soliloquy-meta-submit:hover {
	color: #000 !important;
}

#tgm-plugin-settings,
#soliloquy-comparison {
	margin: 4px 15px 0 0;
	position: relative;
	-webkit-font-smoothing: antialiased;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.428571429;
	color: #333333;
	background-color: #ffffff;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	overflow: hidden;
}

.tgm-plugin-overlay {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 99999;
	font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
	font-weight: 200;
	-webkit-font-smoothing: antialiased;
}

.tgm-plugin-cover {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background: #000;
	background: rgba(0,0,0,0.85);
	background: -webkit-radial-gradient(50% 50%, ellipse closest-corner, rgba(0,0,0,0.55) 1%, rgba(0,0,0,0.85) 100%);
	background: -moz-radial-gradient(50% 50%, ellipse closest-corner, rgba(0,0,0,0.55) 1%, rgba(0,0,0,0.85) 100%);
	background: -ms-radial-gradient(50% 50%, ellipse closest-corner, rgba(0,0,0,0.55) 1%, rgba(0,0,0,0.85) 100%);
	background: radial-gradient(50% 50%, ellipse closest-corner, rgba(0,0,0,0.55) 1%, rgba(0,0,0,0.85) 100%);
	filter: alpha(opacity = 85);
	-webkit-transition: 400ms opacity ease;
	-moz-transition: 400ms opacity ease;
	transition: 400ms opacity ease;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	z-index: 999999;
}

.tgm-plugin-processing {
	position: absolute;
	margin: 0 auto;
	padding: 0;
	width: 960px;
	color: #fff;
}

.tgm-plugin-processing h3 {
	font-weight: 200;
	font-size: 24px;
	font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
	color: #fff;
	margin: 0;
	padding: 0;
	text-align: center;
}

.tgm-plugin-processing h3.text-left {
	text-align: left;
}

.tgm-plugin-processing .wrap {
	margin: 5px 0 0;
	-webkit-font-smoothing: subpixel-antialiased;
}

.tgm-plugin-processing input {
	-webkit-font-smoothing: subpixel-antialiased;
}

.tgm-plugin-processing h2,
.tgm-plugin-processing .icon32 {
	display: none;
}

.tgm-plugin-processing p,
.tgm-plugin-processing table {
	color: #fff;
	font-size: 14px;
}

.tgm-plugin-processing table th {
	color: #fff;
	text-shadow: none;
	padding: 10px 0;
}

#tgm-plugin-settings a,
#tgm-plugin-settings a:hover,
#soliloquy-comparison a,
#soliloquy-comparison a:hover {
	color: #3498db;
}

#tgm-plugin-settings h1,
#tgm-plugin-settings h2,
#tgm-plugin-settings h3,
#tgm-plugin-settings h4,
#tgm-plugin-settings h5 {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
}

#tgm-plugin-settings h2 {
    margin-top: 10px;
    font-weight: 700;
}

#tgm-plugin-settings .glyphicon,
#soliloquy-comparison .glyphicon {
	display: inline-block;
	vertical-align: middle;
}

#tgm-plugin-settings .no-margin,
#soliloquy-comparison .no-margin {
	margin: 0 !important;
}

#tgm-plugin-settings .no-padding,
#soliloquy-comparison .no-padding {
	padding: 0 !important;
}

#tgm-plugin-settings .clear,
#soliloquy-comparison .clear {
    clear: both;
}

#addons-image,
#soliloquy-comparison {
	margin: 20px auto;
	width: auto;
	padding: 20px;
	text-align: center;
}

#addons-image {
	max-width: 100%;
}

#soliloquy-comparison {
	max-width: 760px;
	text-align: left;
	background: #fff;
}

#soliloquy-comparison td {
	font-size: 14px !important;
}

#soliloquy-comparison .mfp-close {
	color: #333;
	font-size: 28px;
}

#tgm-plugin-settings form label,
#tgm-plugin-settings form .help-block {
	margin: 0;
}

#tgm-plugin-settings form input[type="email"] {
	margin-top: 6px;
}